#paineis-sobre{
  margin-top: 20px;
}

html,body {
  height: 100%;
}

header {
  background-image: url(assets/img/castelo.jpg);
  background-size: cover;
  background-position:top center;
  height: 100%;
}

.topcasafina-banner {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);

}

.titulo-depoimentos {
  background-color: #0275d8;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

.grupo-radio,.contato-select {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.contato-select {
  float: right;
}

.grupo-radio .radio:first-child {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 10px;
}

footer address:last-child {
  margin-bottom: 0;
}

